[Unit]
Description=Script workaround for brightness adjustment

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash adjust_brightness.sh 100

[Install]
WantedBy=multi-user.target
